<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720585754471-7ampugno6m3ocdmblnj9aurit9ngpfad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720585754471-7ampugno6m3ocdmblnj9aurit9ngpfad</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>720585754471-lj5i9hs71edpoi6oa21td2d4qcvupkke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCc0D--6YZDgcPa28tVbOAOwyc0Lo35my0</string>
	<key>GCM_SENDER_ID</key>
	<string>720585754471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>flutter-cookbook-1879c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-cookbook-1879c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720585754471:ios:3c23eb822790b6617251c2</string>
</dict>
</plist>